<h1>Register</h1>
<form class="loginForm" id="formRegister">
    <label>Nombre</label>
    <input type="text" required id="firstName" placeholder="First name" />
    <label>Apellido</label>
    <input type="text" required id="lastName" placeholder="Last name" />
    <label>Edad</label>
    <input type="number" required id="age" placeholder="Age" />
    <label>Correo electrónico</label>
    <input type="email" required id="email" placeholder="email@gmail.com" />
    <label>Contraseña</label>
    <input type="password" required id="password" placeholder="********" />
    <button type="submit" class="loginButton">Register</button>
</form>

<script src="/js/register.js"></script>